In [1]:
from joblib import load

# Carregar o modelo salvo
knn_model = load('knn_model.joblib')

In [2]:

import pandas as pd

In [3]:
dados = pd.read_excel('C:/_Academico/PUC/202401/PROJETO INTEGRADO NEGÓCIOS/Consumo.xlsx')
#Exibe as cinco primeiras linhas
dados.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
#Normalizando os dados - não é obrigatório mas é uma boa prática
from sklearn.preprocessing import StandardScaler
normalizador = StandardScaler()

dados[['cylinders', 'displacement', 'horsepower','weight', 'acceleration', 'year', \
     'origin']] = normalizador.fit_transform(dados[['cylinders','displacement','horsepower',\
                                                  'weight','acceleration','year', 'origin']])

In [5]:
# Definir as variáveis independentes (X) e a variável dependente (y)
X = dados[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin']]
y = dados['mpg']

In [7]:

# Usando o modelo carregado
predictions = knn_model.predict(X)

In [8]:
print (predictions)

[16.75  15.5   16.75  16.75  16.75  13.25  14.5   14.5   13.25  14.5
 14.75  15.25  14.75  14.    25.25  19.5   19.5   20.75  25.25  26.5
 27.    25.5   27.    25.5   19.5   11.5   10.5   11.5   11.    25.25
 23.    23.25  19.    18.    18.    18.    18.    13.75  13.25  14.25
 14.5   12.75  13.25  12.75  18.25  21.25  18.    18.    23.5   25.5
 27.    26.5   32.25  31.    28.5   24.    24.75  22.    26.5   20.75
 23.5   13.5   13.5   14.25  13.75  15.25  12.5   13.    13.    13.25
 23.25  15.25  14.75  14.    14.25  20.25  27.75  23.5   27.75  23.5
 24.25  24.5   23.5   25.75  13.    15.25  14.25  14.5   14.25  12.
 13.    13.    14.5   13.25  13.25  12.75  19.5   16.75  19.5   18.25
 19.5   26.5   12.25  12.25  12.5   13.    19.5   27.75  21.75  25.75
 23.25  21.75  19.    24.75  13.75  13.75  29.75  27.5   23.25  20.75
 15.25  21.75  22.75  13.25  19.75  19.5   17.    29.    24.    31.5
 24.25  16.75  15.75  16.75  14.5   13.5   14.75  14.25  15.    27.25
 27.25  24.25  32.25  32.    26.5   27.25  24.25  23.75  24.    27.25
 19.5   17.375 16.5   16.375 15.125 14.75  14.25  14.375 16.5   17.25
 16.875 17.25  21.    15.425 15.025 30.375 24.25  20.    22.5   25.375
 28.    24.    21.    28.125 18.875 23.25  23.25  22.5   23.125 32.25
 25.75  27.25  25.125 25.625 28.625 15.5   15.25  15.25  14.125 20.75
 20.75  20.325 20.25  31.625 31.625 29.5   32.875 18.875 16.625 18.625
 19.25  28.75  32.125 31.25  28.1   21.325 14.875 25.4   23.    18.
 15.875 14.125 14.125 14.375 33.675 29.975 33.775 28.5   31.25  17.525
 17.75  16.625 15.25  19.275 19.375 20.    18.825 15.875 15.625 15.875
 16.25  29.5   25.85  34.1   25.85  30.    29.75  31.25  29.5   23.9
 22.875 24.175 41.7   34.3   33.875 33.875 31.775 16.45  19.1   19.1
 18.825 20.25  20.9   25.85  20.15  20.5   20.05  20.325 18.825 19.425
 19.1   19.125 17.625 16.975 32.125 28.9   28.9   32.775 28.9   24.6
 23.925 28.9   22.825 18.825 22.825 18.825 30.725 32.55  20.2   20.325
 25.125 19.9   20.8   17.075 18.425 17.    17.05  16.125 17.    16.45
 17.475 33.675 37.025 34.3   30.25  30.15  21.2   29.9   21.375 33.825
 33.3   37.525 33.675 25.475 25.7   22.95  29.3   35.175 36.925 33.925
 35.6   26.325 24.875 27.175 19.9   34.65  32.975 36.025 32.975 34.25
 37.6   28.3   36.925 40.175 39.5   30.15  29.975 37.6   37.7   34.375
 24.825 28.775 35.075 33.675 28.45  27.7   26.725 25.425 32.875 37.275
 35.375 35.85  37.6   38.225 36.9   35.575 34.8   35.375 28.975 35.175
 34.975 32.5   32.925 32.45  29.975 30.15  28.575 28.575 22.375 20.9
 25.75  24.925 30.    30.    29.    28.45  28.45  27.25  27.15  34.65
 34.5   34.5   34.8   35.85  36.175 34.925 33.75  34.925 34.775 34.775
 26.4   24.925 27.    23.1   32.925 31.    26.15  27.8   39.5   32.875
 30.    28.25 ]