In [22]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca scipy
import scipy.stats as stats

# local do arquivo
Caminho='C:/_Academico/PUC/202401/PROJETO INTEGRADO NEGÓCIOS/Imoveis.xlsx'

In [25]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [26]:
#Mostra as cinco primeiras linhas
df.head( )

   Valor  Área  Idade  Energia
0     69    96     14      170
1    176   145      8      144
2    195   175      2      147
3     80   101      4      160
4    390   233      2      220

In [27]:
#Gera tabela de correlações
df.corr( )

            Valor      Área     Idade   Energia
Valor    1.000000  0.881343 -0.341712  0.549563
Área     0.881343  1.000000 -0.154898  0.450200
Idade   -0.341712 -0.154898  1.000000 -0.135727
Energia  0.549563  0.450200 -0.135727  1.000000

A CORRELAÇÃO É ALTA E POSITIVA

In [28]:
#Modelo de Regressão
from statsmodels.formula.api import ols
modelo=ols('Valor~Área+Idade+Energia',data=df).fit()

# Resumo do modelo
print(modelo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Valor   R-squared:                       0.844
Model:                            OLS   Adj. R-squared:                  0.834
Method:                 Least Squares   F-statistic:                     83.11
Date:                Mon, 08 Apr 2024   Prob (F-statistic):           1.35e-18
Time:                        09:16:01   Log-Likelihood:                -249.36
No. Observations:                  50   AIC:                             506.7
Df Residuals:                      46   BIC:                             514.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -128.2598     38.541     -3.328      0.002    -205.838     -50.681
Área           1.4590      0.124     11.776      0.000       1.210       1.708
Idade         -2.7722      0.825     -3.359      0.002      -4.434      -1.111
Energia        0.6805      0.254      2.681      0.010       0.170       1.191
==============================================================================
Omnibus:                       14.503   Durbin-Watson:                   1.781
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               19.605
Skew:                           0.969   Prob(JB):                     5.53e-05
Kurtosis:                       5.378   Cond. No.                     1.43e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.43e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
# Verificação de Distribuição Normal dos Resíduos
# Teste de Shapiro-Wilk para normalidade dos resíduos

from scipy.stats import shapiro
residuos=modelo.resid
stat, p_valor = shapiro(residuos)
print('Teste de Shapiro-Wilk para normalidade dos resíduos:')
print('Estatística de teste:', stat)
print('Valor-p:', p_valor)

Teste de Shapiro-Wilk para normalidade dos resíduos:
Estatística de teste: 0.9448480606079102
Valor-p: 0.02104487642645836

Valor p acima de 0.05 aceito a normalidade dos resíduos