In [1]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca scipy
import scipy.stats as stats

# local do arquivo
Caminho='C:/_Academico/PUC/202401/PROJETO INTEGRADO NEGÓCIOS/Automoveis.xlsx'

In [2]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [3]:
#Mostra as cinco primeiras linhas
df.head( )

   Produção  Tempo
0      30.5      1
1      61.0      2
2      96.1      3
3     133.0      4
4     145.6      5

In [4]:
#Gera tabela de correlações
df.corr( )

          Produção     Tempo
Produção  1.000000  0.921612
Tempo     0.921612  1.000000

In [5]:
#Modelo de Regressão
from statsmodels.formula.api import ols
modelo=ols('Produção ~ Tempo',data=df).fit()

# Resumo do modelo
print(modelo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Produção   R-squared:                       0.849
Model:                            OLS   Adj. R-squared:                  0.839
Method:                 Least Squares   F-statistic:                     84.58
Date:                Mon, 01 Apr 2024   Prob (F-statistic):           1.49e-07
Time:                        07:24:08   Log-Likelihood:                -97.228
No. Observations:                  17   AIC:                             198.5
Df Residuals:                      15   BIC:                             200.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -54.0529     39.816     -1.358      0.195    -138.918      30.812
Tempo         35.7353      3.886      9.197      0.000      27.453      44.017
==============================================================================
Omnibus:                        0.910   Durbin-Watson:                   0.255
Prob(Omnibus):                  0.635   Jarque-Bera (JB):                0.526
Skew:                           0.417   Prob(JB):                        0.769
Kurtosis:                       2.783   Cond. No.                         21.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\ebacc\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1806: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

R-squared: 0,849 - Bom ajuste
    Coeficiente de tempo > 0 relação positiva entre as variáveis
    p-valor de tempo <0,05 - variável relevante para o modelo

In [12]:

# Verificação de Distribuição Normal dos Resíduos
# Teste de Shapiro-Wilk para normalidade dos resíduos

from scipy.stats import shapiro
residuos=modelo.resid
stat, p_valor = shapiro(residuos)
print('Teste de Shapiro-Wilk para normalidade dos resíduos:')
print('Estatística de teste:', stat)
print('Valor-p:', p_valor)

Teste de Shapiro-Wilk para normalidade dos resíduos:
Estatística de teste: 0.944674015045166
Valor-p: 0.3778810501098633

Aceitamos a hipótese de igualdade dos resíduos p>0,05

In [10]:
# PRevisão de Vendas
novo_periodo = 18

# Criando um DataFrame com os valores de exemplo
novos_dados = pd.DataFrame({'Tempo': [novo_periodo]})

# Usando o modelo para fazer previsões
previsao_produçao = modelo.predict(novos_dados)

# Imprimindo a previsão de vendas
print("Previsão Producao", previsao_produçao[0])

Previsão Producao 589.1823529411766